
@media (max-width: 1170px) {
    .forms {
        margin-left: 24%;
    }
}

@media (max-width: 820px) {

    header {
        height: 10%;
    }

    .container {
        flex-direction: column-reverse;
    }

    nav {
        flex-direction: row;
        width: 100%;
        margin-top: unset;
    }

    nav > * {
        flex: 1;
        margin-right: 12%;
        margin-left: 10%;
        margin-bottom: 50px;
    }

    #game_over_h {
        margin-bottom: unset;
        font-size: 4em;
    }

    .score_block {
        width: 380px;
    }

    .game_block {
        flex: 1;
    }

    .game {
        align-self: center;
        margin-left: unset;
        align-items: center;
    }

    .menu {
        width: 50%;
    }

    .forms {
        margin-left: unset;
        flex: 1;
        align-items: center;
    }

    .description_form {
        width: 200px;
    }

    .form {
        width: 200px;
    }

    #login_svg {

    }

    .start {
        flex: unset;
        margin-bottom: 60%;
        width: 60%;
    }

    .start::after {
        background-color: transparent;
    }

    .start #new_game {
        margin: unset;
    }

    .game_over {
        width: 100%;
    }

    .game_over_score {
        width: 100%;
        height: 70%;
    }

    .score_block {
        font-size: 1.5em;
    }

    .game_over_score #new_game {
        margin-top: 50px;
    }

    canvas {
        width: 90%;
    }
}
