@import url('https://rsms.me/inter/inter-ui.css');

::selection {
    background-color: #2d2f36;
}

html {
    height: 100%;
}

body {
    background-color: #e2e2e5;
    font-family: 'Inter UI', sans-serif;
    margin: unset;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    height: 13%;
    display: block;
    background-color: #474a59;
}

nav {
    display: none;
    flex-direction: column;
    width: 25%;
    margin-top: 67px;
}

.start {
    flex: 1;
    align-self: center;
    position:relative;
    display:none;
    margin: 20px;
}

#food_icon {
    display: none;
}

.start #new_game {
    align-self: center;
    margin-left: unset;
    width: 20%;
    margin-bottom: 15px;
}

nav > * {
    margin-left: 120px;
    margin-bottom: 25px;
    width: 150px;
    cursor: pointer;

    padding: 15px;
    text-decoration: none;
    text-align: center;
    transition: all .5s ease;
}

nav .nav_button{
    display: block;
    padding: 1rem;
    border-radius: 1.5rem;
    color: #000;
    transition: all .5s ease 0s;
}

nav .nav_button span{
    display: inline-block;
    position: relative;
    transition: all .5s ease;
}

nav .nav_button span:before{
    color: #000;
    font-size: 1rem;
    font-family: FontAwesome, serif;
    display: inline-block;
    position: absolute;
    left: 1.5rem;
    opacity: 0;
    transition: all .1s ease 0s;
}

nav .nav_button:hover span{
    padding-left: 1.5rem;
}

nav .nav_button:hover span:before{
    left: 0;
    opacity: 1;
}

nav .nav_button:active {
    transform: translateY(5px);
}

nav #pause_game span:before {
    content: "\f04c";
}

nav #continue_game span:before {
    content: "\f04b";
}
nav #finish_game span:before {
    content: "\f00d";
}

nav #pause_game {
    background-color: #f6e58d;
    box-shadow: 0 7px #f9ca24;
}

nav #pause_game:active {
    box-shadow: 0 5px #f0932b;
}

nav #continue_game {
    background-color: #AAEA63EA;
    box-shadow: 0 7px rgba(88, 121, 47, 0.92);
}

nav #continue_game:active {
    box-shadow: 0 5px rgba(61, 101, 13, 0.92);
}

nav #finish_game {
    background-color: rgba(255, 112, 112, 0.92);
    box-shadow: 0 7px rgba(192, 23, 23, 0.92);
}

nav #finish_game:active {
    box-shadow: 0 5px rgba(96, 10, 10, 0.92);
}

.score_block {
    display: flex;
    width: 490px;
}

.score {
    transition: 1000ms;
}

.score_block > * {
    flex: 1;
}

.score_block img {
    height: 50px;
}

.score_block div {
    display: flex;
}

.score_block div > * {
    margin: 15px;
    align-self: center;
}

.record_score img{
    margin-left: 150px;
}

.game_block {
    display: none;
    flex-direction: row;
    transition: 500ms;
}

.game {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-left: 20%;
    z-index: 0;
}

.menu_block {
    width: 30%;
    margin-top: 40px;
}

.menu {
    display: flex;
    background-color: #474a59;
    width: 20%;
    height: 80%;
    flex-direction: column;
    right: 0;
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.2s;
}

.user_data {
    display: flex;
}

.user_data img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 20px;
}

.user_name {
    color: white;
}

.opened {
    transform: translateX(0);
}

.game_over {
    background-color: rgb(45, 46, 56);
    width: 45%;
    height: 95%;
}

.game_over .game {
    margin-left: 10%;
}

.game_over_score {
    position: fixed;
    height: 80%;
    background-color: rgb(45, 46, 56, 90%);
    display: flex;
    flex-direction: column;
    z-index: 2;
    color: white;
}

.game_over_score > * {
    align-self: center;
    font-size: 1.5em;
    order: 1;
}

.game_over_score #new_game {
    height: 70px;
    margin-top: 70px;
    cursor: pointer;
    background: black;
    width: 250px;
    text-align: center;
    line-height: 70px;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.start a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0 1px 0 #000;
    box-shadow:0 10px 0 #184212;
    border-radius: 5px;
    color:white;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color: #26d20d;
    position:relative;
    padding:20px 40px;
    cursor: pointer;
}

.start a:active{
    top:10px;
    background-color: #1f910d;
    box-shadow:inset 0 1px 0 #c1f8bd, 0 -3px 0 #184212;
}

.start:after{
    content:"";
    height: 87%;
    width: 25.6%;
    margin-left: 37.2%;
    padding: 4px;
    position: absolute;
    bottom: -1px;
    left:-4px;
    z-index:-1;
    background-color: #061c05;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.game_over_score .score_block {
    margin-top: 30px;
    width: 400px;
}

#game_over_h {
    font-size: 5em;
    color: yellow;
    order: 0;
    text-shadow: 7px 7px black;
    -webkit-text-stroke: 2px black;
    //text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#menu_button {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    position: fixed;
    z-index: 1;
    right: 1rem;
    cursor: pointer;
}

.handle_buttons {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px 0 0 20px;
}

.handle_buttons > a {
    font-family: "Times New Roman", serif;
    height: 35px;
    color: white;
    cursor: pointer;
}

.handle_buttons > a:hover {
    text-decoration: underline;
}

.change_form {
    flex-direction: column;
    background-color: #24272d;
    margin-bottom: 25px;
    padding: 10px;
    transition: 700ms;
}

.change_form > button {
    align-self: center;
    border: unset;
    width: 55%;
    height: 25px;
    border-radius: 15px;
    transition: 500ms;
}

.change_form > button:hover {
    width: 60%;
    height: 30px;
    background-color: #c2c2c5;
}

.change_form > label {
    margin-top: unset;
}

#record {
    text-align: right;
}

canvas {
    width: 490px;
}

#logout_button {
    display: none;
    float: right;
    margin: 1.4%;
    color: white;
    height: 17px;
    padding: 15px;
    text-align: left;
    border-radius: 12px;
    cursor: pointer;
}

#logout_button:hover {
    background-color: #61657a;
}

.form {
    display: flex;
    background-color: #474a59;
    box-shadow: 0 0 40px 16px rgba(0, 0, 0, 0.22);
    color: #f1f1f2;
    position: relative;
    width: 320px;
    height: 330px;
}

.profile_buttons {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
}

.profile_buttons > * {
    margin: 10px 0 10px 10px;
    height: 60px;
    width: 200px;
    align-self: end;
    border-right: unset;
    text-align: left;
    padding-left: 20px;
    border-radius: 15px 0 0 15px;
}

.login_active {
    background-image: linear-gradient(to right, rgba(248, 206, 248, 0.9), rgba(255, 0, 0, 0.83));
    transition: 500ms;
}

.signup_active {
    background-image: linear-gradient(to right, rgba(246, 241, 73, 0.94), rgba(55, 255, 0, 0.75));
    transition: 500ms;
}

.non_active {
    width: 170px;
    transition: 500ms;
}

#login_form {
    margin: 40px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

input {
    background-color: transparent;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 98%;
    border-bottom: 2px solid black;
}

.submit {
    background-color: #595e70;
    color: white;
    transition: color 300ms;
    cursor: pointer;
    width: 94%;
    align-self: center;
    margin-top: 24px;
    height: 46px;
    border-radius: 20px;
}

#bad_password, #bad_username {
    margin: unset;
    height: 10px;
    font-size: 0.7em;
}

#bad_new_password, #bad_new_username {
    color: #c2c2c5;
    margin: unset;
    height: 15px;
    font-size: 0.7em;
}

.page {
    display: flex;
    flex-direction: column;
    flex: 1;
    /*place-content: center;*/
    /*width: 100%;*/
}

.forms {
    display: flex;
    align-self: center;
    margin-left: 30%;
}

label {
    color: #c2c2c5;
    display: block;
    font-size: 14px;
    margin-top: 20px;
}

.container {
    display: flex;
    flex: 1;
}

svg {
    position: absolute;
    width: 320px;
    height: 100%;
}

path {
    fill: none;
    stroke: url(#linearGradient);
    stroke-width: 4;
    stroke-dasharray: 240 1386;
    transition: 700ms;
}

.description_form {
    background-color: white;
    top: 20px;
    position: relative;
    width: 280px;
    height: 290px;
}